html {
  height: 100%;
}

body {
  font: caption;
  display: flex;
  height: 100%;
  overflow: hidden;
}

#text-field {
  font-family: Courier;
  resize: none;
  width: 50%;
  flex: 1 0 auto;
}

#render-field {
  width: 50%;
  flex: 1 0 auto;
}
